# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env
.env.*
*.venv/

# Databases
*.db
*.sqlite3

# Logs
*.log

# OS / Editor junk
.DS_Store
.vscode/
.idea/

# Coverage / test artifacts
htmlcov/
.coverage
.pytest_cache/

*.zip
